// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -

.portfolio {
	margin-top: 0;
	padding: $grid-spacing/2;
}

.portfolio-wrap {
	
}

.portfolio-item {
	position: relative;
	padding: $grid-spacing/2;
	float: left;
	width: 50%;
}

.portfolio-item__link {
	position: relative;
	display: block;

	&:hover {

		.portfolio-item__content {
			background: rgba($accent-color, 0.6);
		}
	}
}

.portfolio-item__image {
	width: 100%;
	border-radius: 8px;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}

.portfolio-item__content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	background: linear-gradient(to top, rgba($overlay-background-color, 0.85) 0%, rgba($overlay-background-color, 0) 60%);
	padding: 20px;
	border-radius: 8px;

	opacity: 1;
	visibility: visible;
	@include transition(background 0.3s ease-in-out);
}

.portfolio-item__info {
	text-align: left;
	@include transition(all 0.2s ease-in-out);
}

.portfolio-item__title {
	color: $overlay-text-color;
	font-size: $grid-item-title-small;
	font-weight: $grid-item-title-weight;
	letter-spacing: $grid-item-title-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-large;
	}
}

.portfolio-item__subtitle {
	margin-top: 5px;
	color: rgba($overlay-text-color, 0.7);
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}
