.highlight .hll { background-color: transparent; }
.highlight  { background: $background-color; color: $text-medium-color; }
.highlight .c { color: $text-light-color; font-style: italic } /* Comment */
.highlight .err { color: $text-medium-color; } /* Error */
.highlight .k { color: $text-medium-color; } /* Keyword */
.highlight .o { color: $text-medium-color; } /* Operator */
.highlight .ch { color: $text-light-color; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: $text-light-color; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $text-medium-color; } /* Comment.Preproc */
.highlight .cpf { color: $text-light-color; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: $text-light-color; font-style: italic } /* Comment.Single */
.highlight .cs { color: $text-light-color; } /* Comment.Special */
.highlight .gd { color: $text-medium-color; } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $text-medium-color; } /* Generic.Error */
.highlight .gh { color: $text-dark-color; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: $text-medium-color; } /* Generic.Inserted */
.highlight .go { color: $text-light-color; } /* Generic.Output */
.highlight .gp { color: $text-medium-color; } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $text-dark-color; } /* Generic.Subheading */
.highlight .gt { color: $text-medium-color; } /* Generic.Traceback */
.highlight .kc { color: $text-medium-color; } /* Keyword.Constant */
.highlight .kd { color: $text-medium-color; } /* Keyword.Declaration */
.highlight .kn { color: $text-medium-color; } /* Keyword.Namespace */
.highlight .kp { color: $text-medium-color; } /* Keyword.Pseudo */
.highlight .kr { color: $text-medium-color; } /* Keyword.Reserved */
.highlight .kt { color: $text-medium-color; } /* Keyword.Type */
.highlight .m { color: $text-medium-color; } /* Literal.Number */
.highlight .s { color: $text-medium-color; } /* Literal.String */
.highlight .na { color: $text-medium-color; } /* Name.Attribute */
.highlight .nb { color: $text-medium-color; } /* Name.Builtin */
.highlight .nc { color: $text-medium-color; } /* Name.Class */
.highlight .no { color: $text-medium-color; } /* Name.Constant */
.highlight .nd { color: $text-medium-color; } /* Name.Decorator */
.highlight .ni { color: $text-medium-color; } /* Name.Entity */
.highlight .ne { color: $text-medium-color; } /* Name.Exception */
.highlight .nf { color: $text-medium-color; } /* Name.Function */
.highlight .nl { color: $text-medium-color; } /* Name.Label */
.highlight .nn { color: $text-medium-color; } /* Name.Namespace */
.highlight .nt { color: $text-medium-color; } /* Name.Tag */
.highlight .nv { color: $text-medium-color; } /* Name.Variable */
.highlight .ow { color: $text-medium-color; } /* Operator.Word */
.highlight .w { color: $text-light-color; } /* Text.Whitespace */
.highlight .mb { color: $text-medium-color; } /* Literal.Number.Bin */
.highlight .mf { color: $text-medium-color; } /* Literal.Number.Float */
.highlight .mh { color: $text-medium-color; } /* Literal.Number.Hex */
.highlight .mi { color: $text-medium-color; } /* Literal.Number.Integer */
.highlight .mo { color: $text-medium-color; } /* Literal.Number.Oct */
.highlight .sa { color: $text-medium-color; } /* Literal.String.Affix */
.highlight .sb { color: $text-medium-color; } /* Literal.String.Backtick */
.highlight .sc { color: $text-medium-color; } /* Literal.String.Char */
.highlight .dl { color: $text-medium-color; } /* Literal.String.Delimiter */
.highlight .sd { color: $text-medium-color; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: $text-medium-color; } /* Literal.String.Double */
.highlight .se { color: $text-medium-color; } /* Literal.String.Escape */
.highlight .sh { color: $text-medium-color; } /* Literal.String.Heredoc */
.highlight .si { color: $text-medium-color; } /* Literal.String.Interpol */
.highlight .sx { color: $text-medium-color; } /* Literal.String.Other */
.highlight .sr { color: $text-medium-color; } /* Literal.String.Regex */
.highlight .s1 { color: $text-medium-color; } /* Literal.String.Single */
.highlight .ss { color: $text-medium-color; } /* Literal.String.Symbol */
.highlight .bp { color: $text-medium-color; } /* Name.Builtin.Pseudo */
.highlight .fm { color: $text-medium-color; } /* Name.Function.Magic */
.highlight .vc { color: $text-medium-color; } /* Name.Variable.Class */
.highlight .vg { color: $text-medium-color; } /* Name.Variable.Global */
.highlight .vi { color: $text-medium-color; } /* Name.Variable.Instance */
.highlight .vm { color: $text-medium-color; } /* Name.Variable.Magic */
.highlight .il { color: $text-medium-color; } /* Literal.Number.Integer.Long */
